*{
    background-color: black;
}




.div-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;

}

.btn{
    width: 240px;
    height: 70px;
    color: white;
    font-size: 21px;
    border: 3px solid rgb(13,211,182);
    border-radius: 20px;

}

.btn:hover{
    box-shadow: 0px 0px 100px 0px rgb(13,211,182);
    

}

.btn a{
    text-decoration: none;
}